@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* UI & surface colors */

  --bg-primary: #ffffff;
  --bg-secondary: #8c8c8c;

  --text-primary: #242424;
  --text-secondary: #ffffff;

  /* Brand colors */
  --black-color: #24292f;

  font-family: "Ubuntu", sans-serif;
}

.dark,
[data-theme="dark"] {
  --bg-primary: #131416;
  --bg-secondary: #1c1c1c;

  --text-primary: #bebebe;
  --text-secondary: #dedede;
}
